.page-error {
    background: #ffff;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-error img {
    display: block;
    margin: block;
    width: 40%;
}